@import "~bootstrap/scss/bootstrap";
body {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
.bnt-star{
    $color: transparent;
    background-color: $color;
    border-color:  $color;

    &:hover, 
    &:focus,
    &:active{
        background-color: $color !important;
        border-color:  $color !important;
    }
}
.swiper-button-next{
    width: 500px;
    color: black;
}
.swiper-wrapper{
    display: flex;
}

.avatar-img-detail{
    border-radius: 60%;
    -o-object-fit: fill ;
       object-fit: fill ;
}