@import "~bootstrap/scss/bootstrap";


body {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
.bnt-star{
    $color: transparent;
    background-color: $color;
    border-color:  $color;

    &:hover, 
    &:focus,
    &:active{
        background-color: $color !important;
        border-color:  $color !important;
    }
}
.swiper-button-next{
    width: 500px;
    color: black;
}
.swiper-wrapper{
    display: flex;
}

.slideImgaeFix{
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
}

.avatar-img-detail{
    border-radius: 60%;
    -o-object-fit: fill ;
       object-fit: fill ;
}

.btn-primary{
    --bs-btn-bg: #7273DD !important;
    --bs-btn-border-color: #7273DD !important;
    --bs-btn-hover-bg: #FD83BC !important;
   --bs-btn-hover-border-color: #FD83BC !important;
  }

  .btn-secundary{
    --bs-btn-bg: #FD83BC !important;
    --bs-btn-border-color:  #FD83BC !important;;
    --bs-btn-hover-bg: #7273DD !important;
   --bs-btn-hover-border-color:#7273DD !important;
  }
