@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


body {
  margin: 0;
  font-size: 16px;
  font-family: 'Mulish', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /*  background-image: url(/src/assets/arcotrans.png);
  background-position: right top;
  background-repeat: no-repeat;
 background-position-x: right;
@media 
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

